/control_ui/device_config.json
# package
*.nsi

# source
*.jpg
*.png
cover*.txt

# demo test
test.py
test.ipynb

# Python bytecode
*.pyc

# Logs
*.log

# Virtualenv
venv/

*.spec

# Build
build/
dist/
__pycache__/

# IDE
.vscode/
.idea/

# important: keep the spec file
!自由象限 C1 音乐副屏.spec
!C1音乐副屏.spec
!C1music.spec