altgraph==0.17.5
certifi==2026.1.4
charset-normalizer==3.4.4
idna==3.11
numpy==2.2.6
opencv-python==4.13.0.90
packaging==26.0
pefile==2024.8.26
pillow==12.1.0
pycryptodomex==3.23.0
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
pystray==0.19.5
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.3
requests==2.32.5
screeninfo==0.8.1
six==1.17.0
urllib3==2.6.3
